@import url('./reset.css');

:root {

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.hidden {
  display: none;
}

.container {
  width: 1128px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 36px;
}

form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

input {
  width: 272px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid #808080;
  padding-left: 16px;
}

input:hover {
  border: 1px solid #000000;
}

input:focus {
  border: 1px solid #4e75ff;
}

input:placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #808080;
}


.btn {
  font-size: 16px;
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #4e75ff;
  border: transparent;
}

.btn:hover {
  background-color: #6c8cff;
  border: #6c8cff;
  color: #4e75ff;
}

.gallery-card {
  display: block;
  position: relative;
  width: 360px;
  height: 200px;
  border: 2px solid #4e75ff;
  border-radius: 8px;
  overflow: hidden;
}
.gallery-card:hover,
.gallery-card:focus {
  transform: scale(1.04);
  transition: height, 150ms ease-in-out;
}
.gallery-list {
  width: 1136px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 22px;
}

.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
}


.gallery-info-div {
  display: flex;
  align-items: center;
  width: 360px;
  height: 48px;
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;
}

.info-item-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 4px auto;
  gap: 24px;
}

.info-item > p {
  text-align: center;
}

.info-item > h2 {
  margin-bottom: 4px;
  font-size: 12px;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.load-more-btn {
  font-size: 16px;
  width: 100px;
  height: 40px;
  padding: 8px;
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #4e75ff;
  border: #4e75ff;
}


/* ----LOADER ---- */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #514b82;
  border: 2px solid;
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin-left: 140px;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {left: calc(100% + 20px)}
}


/* ---- ARROW UP ---- */
.arrow-up-div {
  position: fixed;
  right: 75px;
  bottom: 30px;
  width: 50px;
  height: 50px;
}

.arrow-up {
  position: fixed;
  right: 75px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  color: #4e75ff;
}

